.content{
  width: 100%;
  position: relative;
}

.content ul{
  list-style: none;
  width: 100%;
  position: relative;
  padding-top: 30px;
  padding-left: 0;
}

.content ul li{
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
}
