.content{
  width: 100%;
  position: relative;
}

.content .container{
  height: 100%;
}

.content .container .basic-profile{
  width: 940px;
  height: 900px;
  margin: 40px auto 20px;
  background: #fff;
  padding: 0 40px 20px;
  position: relative;
}
.content .container .basic-profile .title{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 32px;
}

.content .container .basic-profile .avatar{
  position: absolute;
  right:40px;
  top:105px;
  text-align: center;
}


.content .container .basic-profile .avatar .images{
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.content .container .basic-profile .avatar .avatar-button{
  margin-top: 20px;
  border: 1px solid #333;
}

.content .container .basic-profile .line-warp{
  margin: 20px 0 0 20px;
  width: 460px;
  height: 100px;
}

.content .container .basic-profile .line-warp .profile-input{
  width: 460px;
  height: 60px;
}


.content .container .basic-profile .line-warp .date{
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.38);
  margin-bottom: 10px;
}

.content .container .basic-profile .line-warp .city{
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.38);
}

.content .container .basic-profile .submit{
  width: 100%;
  height: 50px;
  margin: 20px auto 0;
  text-align: center;
  line-height: 50px;
}

.content .container .basic-profile .submit .submit-button{
  width: 100px;
  height: 30px;
  border: 1px solid #000;
  line-height: 30px;
}

.content .container .basic-profile .tips{
  margin-top: 4px;
  display: block;
  line-height: 20px;
  font-size: 14px;
  color: #85888a;
}
