.header{
  width: 100%;
  height: 64px;
  background: #333;
}

.nav-content{
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 8px 0 rgba(133,136,138,.1);
  background: #fff;
  position: relative;
}

.nav-content .setting-nav{
  width: 1200px;
  margin: 0 auto 0;
  height: 100%;
}

.nav-content .setting-nav ul{
  list-style: none;
  padding: 0;
  width: 500px;
  height: 100%;
  margin: 0 auto 0;
  text-align: center;
}

.nav-content .setting-nav ul li{
  float: left;
  width: 100px;
  height: 50px;
}

.nav-content .setting-nav ul li button{
  height: 50px;
  line-height: 50px;
}

.nav-content .setting-nav ul li .active{
  border-bottom: 3px solid #d9534f;
}

.content{
  width: 100%;
  background: #f9f9f9;
}
