<div class="content">
 <div class="item">
   <a [routerLink]="['/index/designerDetail', 1]">
   <div class="rank-item">
    <md-icon svgIcon="first" class="first"></md-icon>
   </div>
   <div class="designer">
     <img src="assets/images/designer1.jpg" class="avatar">
     <div class="jieshao">
       <span class="name">zimo</span>
       <span class="location">浙江 杭州</span>
     </div>
   </div>
   <div class="patent pull-right">
     <ul>
       <li>
         <img src="assets/images/sijin1.jpg" class="images">
       </li>
       <li>
         <img src="assets/images/sijin2.jpg" class="images">
       </li>
       <li>
         <img src="assets/images/sijin3.jpg" class="images">
       </li>
     </ul>
   </div>
   </a>
 </div>
  <div class="item">
    <a [routerLink]="['/index/designerDetail', 1]">
    <div class="rank-item">
      <md-icon svgIcon="second" class="second"></md-icon>
    </div>
    <div class="designer">
      <img src="assets/images/designer2.jpg" class="avatar">
      <div class="jieshao">
        <span class="name">紫陌</span>
        <span class="location">浙江 宁波</span>
      </div>
    </div>
    <div class="patent pull-right">
      <ul>
        <li>
          <img src="assets/images/sijin5.png" class="images">
        </li>
        <li>
          <img src="assets/images/weijin1.jpg" class="images">
        </li>
        <li>
          <img src="assets/images/sijin4.png" class="images">
        </li>
      </ul>
    </div>
    </a>
  </div>
  <div class="item">
    <a [routerLink]="['/index/designerDetail', 1]">
      <div class="rank-item">
        <md-icon svgIcon="third" class="third"></md-icon>
      </div>
      <div class="designer">
        <img src="assets/images/designer3.jpg" class="avatar">
        <div class="jieshao">
          <span class="name">zimo</span>
          <span class="location">浙江 杭州</span>
        </div>
      </div>
      <div class="patent pull-right">
        <ul>
          <li>
            <img src="assets/images/sijin6.png" class="images">
          </li>
          <li>
            <img src="assets/images/sijin7.png" class="images">
          </li>
          <li>
            <img src="assets/images/sijin8.png" class="images">
          </li>
        </ul>
      </div>
    </a>
  </div>
  <div class="item">
    <a [routerLink]="['/index/designerDetail', 1]">
      <div class="rank-item">
        <span>4</span>
      </div>
      <div class="designer">
        <img src="assets/images/designer4.jpg" class="avatar">
        <div class="jieshao">
          <span class="name">zimo</span>
          <span class="location">浙江 杭州</span>
        </div>
      </div>
      <div class="patent pull-right">
        <ul>
          <li>
            <img src="assets/images/zuopin1.png" class="images">
          </li>
          <li>
            <img src="assets/images/zuopin3.png" class="images">
          </li>
          <li>
            <img src="assets/images/zuopin4.png" class="images">
          </li>
        </ul>
      </div>
    </a>
  </div>
</div>
