<div class="content">
  <div class="list-header">
    <div class="order-options">
      <ul>
        <li style="width: 25%;">商品</li>
        <li style="width: 10%;">单价</li>
        <li style="width: 10%">数目</li>
        <li style="width: 15%">商品操作</li>
        <li style="width: 10%">实付款</li>
        <li style="width: 15%">交易状态</li>
        <li style="width: 15%">交易操作</li>
      </ul>
    </div>
  </div>
  <div class="order-item">
    <div class="order-item-header">
      <strong>2017-06-06</strong>
      <label class="orderID">订单号：</label>
      <span>1234567890</span>
      <div>
        <img src="assets/images/avatar1.png" class="images">
        <h6>zimo</h6>
      </div>
      <button class="contact">和我联系</button>
    </div>
    <div class="order-item-body col-sm-10">
      <div class="order">
        <a href="#">
          <img src="assets/images/zuopin4.png" class="images">
          <span>女士小方巾</span>
        </a>
      </div>
      <div class="jiage">
        ¥200
      </div>
      <div class="number">
        1
      </div>
      <div class="option">
        申请售后
      </div>
      <div class="money">
        ¥200
      </div>
      <div class="state">
        交易成功
      </div>
      <div class="options">
        再次购买
      </div>
    </div>
  </div>
  <div class="order-item">
    <div class="order-item-header">
      <strong>2017-06-06</strong>
      <label class="orderID">订单号：</label>
      <span>1234567890</span>
      <div>
        <img src="assets/images/avatar1.png" class="images">
        <h6>zimo</h6>
      </div>
      <button class="contact">和我联系</button>
    </div>
    <div class="order-item-body col-sm-10">
      <div class="order">
        <a href="#">
          <img src="assets/images/zuopin5.png" class="images">
          <span>小丝巾</span>
        </a>
      </div>
      <div class="jiage">
        ¥750
      </div>
      <div class="number">
        1
      </div>
      <div class="option">
        申请售后
      </div>
      <div class="money">
        ¥750
      </div>
      <div class="state">
        交易成功
      </div>
      <div class="options">
        再次购买
      </div>
    </div>
  </div>
  <div class="order-item">
    <div class="order-item-header">
      <strong>2017-06-06</strong>
      <label class="orderID">订单号：</label>
      <span>1234567890</span>
      <div>
        <img src="assets/images/1.png" class="images">
        <h6>zimo</h6>
      </div>
      <button class="contact">和我联系</button>
    </div>
    <div class="order-item-body col-sm-10">
      <div class="order">
        <a href="#">
          <img src="assets/images/zuopin6.png" class="images">
          <span>粉红小方巾</span>
        </a>
      </div>
      <div class="jiage">
        ¥111
      </div>
      <div class="number">
        1
      </div>
      <div class="option">
        申请售后
      </div>
      <div class="money">
        ¥111
      </div>
      <div class="state">
        交易成功
      </div>
      <div class="options">
        再次购买
      </div>
    </div>
  </div>
  <div class="order-item">
    <div class="order-item-header">
      <strong>2017-06-06</strong>
      <label class="orderID">订单号：</label>
      <span>1234567890</span>
      <div>
        <img src="assets/images/1.png" class="images">
        <h6>zimo</h6>
      </div>
      <button class="contact">和我联系</button>
    </div>
    <div class="order-item-body col-sm-10">
      <div class="order">
        <a href="#">
          <img src="assets/images/zuopin8.png" class="images">
          <span>长围巾</span>
        </a>
      </div>
      <div class="jiage">
        ¥250
      </div>
      <div class="number">
        1
      </div>
      <div class="option">
        申请售后
      </div>
      <div class="money">
        ¥250
      </div>
      <div class="state">
        交易成功
      </div>
      <div class="options">
        再次购买
      </div>
    </div>
  </div>
</div>
