<div class="content">
  <div class="anthor">
    <img src="{{article.avatarPath}}" class="avatar">
    <div class="anthor-name">
      {{article.nickname}}
    </div>
    <div class="article-time">
      {{article.time}}
    </div>
  </div>
  <div class="article-title">
    {{article.title}}
  </div>
  <img src="{{article.image}}" class="article-images">
  <div class="desc">
    {{article.desc}}
  </div>
  <ul>
    <li><md-icon svgIcon="look"></md-icon></li>
    <li><md-icon svgIcon="like"></md-icon></li>
    <li><md-icon svgIcon="pinglun"></md-icon></li>
  </ul>
  <div class="line">

  </div>
</div>
