<div class="content">
  <div class="item">
    <ul>
      <li style="width: 5%; line-height: 120px">
        <md-checkbox class="check"></md-checkbox>
      </li>
      <li style="width: 45%">
        <img src="assets/images/sijin1.jpg" class="images">
        <div class="title">
          <span>作品名称</span>
        </div>
        <div class="desc">
          <div>
            <label>尺寸：</label><span>30*180</span>
          </div>
          <div>
            <label>材质：</label><span>围巾</span>
          </div>
        </div>
      </li>
      <li class="one-price" style="width: 12.5%;">
        <span>¥399</span>
      </li>
      <li style="width: 12.5%;">
        <div class="number">
          <md-icon class="sub" svgIcon="sub"></md-icon>
          <input type="text" [(ngModel)]="number" (change)="changePrice()" class="input">
          <md-icon class="add" svgIcon="add"></md-icon>
        </div>
      </li>
      <li class="totalPrice" style="width: 12.5%;">
        <span>¥399</span>
      </li>
      <li class="options">
        <a href="#" md-button>移入我的收藏</a>
        <a href="#" md-button>删除</a>
      </li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li style="width: 5%; line-height: 120px">
        <md-checkbox class="check"></md-checkbox>
      </li>
      <li style="width: 45%">
        <img src="assets/images/sijin2.jpg" class="images">
        <div class="title">
          <span>作品名称</span>
        </div>
        <div class="desc">
          <div>
            <label>尺寸：</label><span>30*180</span>
          </div>
          <div>
            <label>材质：</label><span>围巾</span>
          </div>
        </div>
      </li>
      <li class="one-price" style="width: 12.5%;">
        <span>¥999</span>
      </li>
      <li style="width: 12.5%;">
        <div class="number">
          <md-icon class="sub" svgIcon="sub"></md-icon>
          <input type="text" [(ngModel)]="number" (change)="changePrice()" class="input">
          <md-icon class="add" svgIcon="add"></md-icon>
        </div>
      </li>
      <li class="totalPrice" style="width: 12.5%;">
        <span>¥999</span>
      </li>
      <li class="options">
        <a href="#" md-button>移入我的收藏</a>
        <a href="#" md-button>删除</a>
      </li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li style="width: 5%; line-height: 120px">
        <md-checkbox class="check"></md-checkbox>
      </li>
      <li style="width: 45%">
        <img src="assets/images/sijin3.jpg" class="images">
        <div class="title">
          <span>作品名称</span>
        </div>
        <div class="desc">
          <div>
            <label>尺寸：</label><span>30*180</span>
          </div>
          <div>
            <label>材质：</label><span>围巾</span>
          </div>
        </div>
      </li>
      <li class="one-price" style="width: 12.5%;">
        <span>¥650</span>
      </li>
      <li style="width: 12.5%;">
        <div class="number">
          <md-icon class="sub" svgIcon="sub"></md-icon>
          <input type="text" [(ngModel)]="number" (change)="changePrice()" class="input">
          <md-icon class="add" svgIcon="add"></md-icon>
        </div>
      </li>
      <li class="totalPrice" style="width: 12.5%;">
        <span>¥650</span>
      </li>
      <li class="options">
        <a href="#" md-button>移入我的收藏</a>
        <a href="#" md-button>删除</a>
      </li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li style="width: 5%; line-height: 120px">
        <md-checkbox class="check"></md-checkbox>
      </li>
      <li style="width: 45%">
        <img src="assets/images/sijin4.png" class="images">
        <div class="title">
          <span>作品名称</span>
        </div>
        <div class="desc">
          <div>
            <label>尺寸：</label><span>30*180</span>
          </div>
          <div>
            <label>材质：</label><span>围巾</span>
          </div>
        </div>
      </li>
      <li class="one-price" style="width: 12.5%;">
        <span>¥700</span>
      </li>
      <li style="width: 12.5%;">
        <div class="number">
          <md-icon class="sub" svgIcon="sub"></md-icon>
          <input type="text" [(ngModel)]="number" (change)="changePrice()" class="input">
          <md-icon class="add" svgIcon="add"></md-icon>
        </div>
      </li>
      <li class="totalPrice" style="width: 12.5%;">
        <span>¥700</span>
      </li>
      <li class="options">
        <a href="#" md-button>移入我的收藏</a>
        <a href="#" md-button>删除</a>
      </li>
    </ul>
  </div>
  <div class="item">
    <ul>
      <li style="width: 5%; line-height: 120px">
        <md-checkbox class="check"></md-checkbox>
      </li>
      <li style="width: 45%">
        <img src="assets/images/sijin5.png" class="images">
        <div class="title">
          <span>作品名称</span>
        </div>
        <div class="desc">
          <div>
            <label>尺寸：</label><span>30*180</span>
          </div>
          <div>
            <label>材质：</label><span>围巾</span>
          </div>
        </div>
      </li>
      <li class="one-price" style="width: 12.5%;">
        <span>¥100</span>
      </li>
      <li style="width: 12.5%;">
        <div class="number">
          <md-icon class="sub" svgIcon="sub"></md-icon>
          <input type="text" [(ngModel)]="number" (change)="changePrice()" class="input">
          <md-icon class="add" svgIcon="add"></md-icon>
        </div>
      </li>
      <li class="totalPrice" style="width: 12.5%;">
        <span>¥100</span>
      </li>
      <li class="options">
        <a href="#" md-button>移入我的收藏</a>
        <a href="#" md-button>删除</a>
      </li>
    </ul>
  </div>
</div>
