.content{
  width: 100%;
  position: relative;
}

.content .container ul{
  list-style: none;
  padding: 0;
}

.content .container ul .first{
  float: left;
  margin-top: 210px;
  position: relative;
}

.content .container ul .first md-icon{
  width: 128px;
  height: 128px;
  color: red;
  position: absolute;
  top: -64px;
  right: -64px;
  z-index: 3;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.content .container ul .second{
  float: left;
  margin-top: 210px;
  margin-left: 111px;
  position: relative;
}

.content .container ul .second md-icon{
  width: 90px;
  height: 90px;
  color: red;
  position: absolute;
  top:-45px;
  right: -45px;
  z-index: 3;
  transform: rotate(35deg);
}

.content .container ul .third{
  margin-top: 33px;
  margin-left: 111px;
  float: left;
  position: relative;
}

.content .container ul .third md-icon{
  width: 60px;
  height: 60px;
  color: red;
  position: absolute;
  top:-30px;
  right: -30px;
  z-index: 3;
  transform: rotate(35deg);
}

.content .container ul .other{
  float: left;
  margin-top: 100px;
  margin-right: 20px;
}
